$padding: 10px;
$amber  : #ffa500;
$topBarHeight: 60px;
$fileOverviewWidth: 300px;
$calcEditorHeight : calc(100vh - #{$topBarHeight +  2*$padding});
$topBarLayer : 1;
$modalLayer : 10;
$red : #d9534f;
$editorBarHeight: 35px;

$themeMainColor: #2196f3;
$themeMainLighterColor: #4dabf5;
$themeLightContrastColor: #007b96;
$veryLightColor: #b9ddfc;
$veryLightContrastColor: rgba(255, 165, 0, 0.18);

*{
  box-sizing: border-box;
}
.text-font{ font-family: 'Source Sans Pro', sans-serif;  }


ul.undo-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

.amber-bg{
  background-color: $amber;
}

.primary-button{
  border: 1px solid #CDDC39;
  background: white;
  color: $themeMainColor
}

.primary-button:hover{
  color: $themeMainColor
}