.create-project{
  padding: $padding;

  .error-message{
    line-height: 3*$padding;
    height: 3*$padding;
    font-size: 13px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $red;
  }
 }


.create-project.error, {
  border: 1px solid $red;
  input{
    color: $red
  }
}