$progressBarHeight : 2px;
$maxWaitingTime : 5s;

#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: $modalLayer*2;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  cursor: wait;
}

#loader:after{
  left: 0;
  top: 0;
  width: 100vw;
  content: " ";
  position: fixed;
  height: $progressBarHeight;
  background-color: $themeFluroscentColor;
  animation-name: loading;
  animation-duration: $maxWaitingTime;
  @include transformOrigin(0 50%);
  @include transform(scaleX(0.95))
}

#loader.waiting{

}

@keyframes loading {
  0%   {@include transform(scaleX(0));}
  100% {@include transform(scaleX(0.95));}
}