$menuFormattingWidth: 60px;

.file-editor-view{
  position: relative;
  .file-path-view, .editor-options{
    position: absolute;
    top: 0;
    margin: 0px $padding;
    z-index: $modalLayer - 1;
    height: $editorBarHeight;
    line-height: $editorBarHeight;
  }
  .file-path-view{
    left: $menuFormattingWidth + $fileOverviewWidth;
    font-size: smaller;
    color: white;
    opacity: 0.5;
  }
  .editor-options{
    right: 0;
    @extend .undo-list;
    display: none !important;
    .editor-option{
      display: block;
      float: left;
      width: 50px;
    }
  }
  .file-overview, .code-editor{
    float     :left;
    padding-right: $padding 0px;
    height    : $calcEditorHeight;
    min-height: $calcEditorHeight;
  }

  .file-overview{
    width: $fileOverviewWidth;
    padding-right: $padding;
    .heading{
      height: $editorBarHeight;
      padding: 0px $padding;
      line-height: $editorBarHeight;
      background-color: $themeMainLighterColor;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .code-editor{
    width: calc(100% - #{$fileOverviewWidth});
  }

  .jsoneditor.jsoneditor-mode-code,
  .jsoneditor-outer,
  div.jsoneditor-tree,
  .ace_scroller,
  .ace_editor.ace-jsoneditor{
    min-height: $calcEditorHeight;
  }
  .jsoneditor-poweredBy,
  .jsoneditor-undo.jsoneditor-separator,
  .jsoneditor-redo{
    display: none
  }
  .jsoneditor-expand-all,
  .jsoneditor-search,
  .jsoneditor-collapse-all{
    float: right;
    left: 0;
  };


  .jsoneditor-search{
    margin-left: $padding/2;
    input{
      padding-left: $padding/2;
    }
    .jsoneditor-results{
      display: none;
    }
  }
  .jsoneditor-menu{
    background-color: $themeMainLighterColor;
    border: 1px solid transparent;
  }
  .jsoneditor{
    border: 1px solid $themeMainColor;
  }
  .ace_gutter{
    background: $veryLightColor !important;
    opacity: 1;
  }
}