$childOffset : 15px;

ul.file-explorer {
  height: 100%;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid $veryLightContrastColor;
  padding: $padding;

  .highlight{
    color: $amber;
    opacity: 0.7;
    .file-icon{color: $amber}
  }
  a{
    display: block;
    color: inherit;
  }
  a:hover{
    text-decoration: none;
  }
  .folder-icon ,.file-icon{
    color: $themeMainColor;
    opacity: 0.8;
    padding: 0px $padding/2;
  }
  .profile:hover{
    cursor: pointer;
    @extend .highlight;
    .folder-icon{color: $amber}
    .opened, .closed{
      color: $amber;
    }
  }
  .profile{
    padding-left: $padding;
  }
  ul {
    @extend .undo-list;
    li {
      padding-left: $childOffset * 2;
    }
    li:hover{
      cursor: pointer;
      @extend .highlight;
      .file-icon{color: $amber}
    }
  }
  > li {
    padding-top: $padding;
    padding-bottom: $padding;
    border-bottom: 1px solid $veryLightContrastColor;
  }
  > li.selected{
    ul.files > li.current{
      @extend .highlight;
    }
  }

  li.expand{
    .opened{display: none}
  }

  li:not(.expand) {
    .closed{display: none}
    ul.files{
      height: 0;
      overflow: hidden;
    }
  }
  @extend .undo-list;
}
