@import "../lib/font-awesome-4.5.0/scss/font-awesome";

$padding: 10px;
$amber  : #ffa500;
$topBarHeight: 60px;

*{
  box-sizing: border-box;
}

$fileOverviewWidth: 300px;
$calcEditorHeight : calc(100vh - #{$topBarHeight});
.file-editor-view{
  .file-overview, .code-editor{
    float     :left;
    padding   : $padding;
    height    : $calcEditorHeight;
    min-height: $calcEditorHeight;
  }

  .file-overview{
    width: $fileOverviewWidth;
  }
  .code-editor{
    width: calc(100% - #{$fileOverviewWidth});
  }

  .jsoneditor.jsoneditor-mode-code,
  .jsoneditor-outer,
  div.jsoneditor-tree,
  .ace_scroller,
  .ace_editor.ace-jsoneditor{
    min-height: $calcEditorHeight;
  }
  .jsoneditor-menu > a, .jsoneditor-collapse-all{ display: none};
}

.no-display{
  pointer-events: none;
  opacity: 0;
}

.top-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 1;
  height: $topBarHeight;
  background: darkblue;

  .back-button, h1{
    float: left;
    height: $topBarHeight;
    line-height: $topBarHeight;
    font-size: large;
  }
  .back-button, h1, button{
    margin: 0px;
    cursor: pointer;
    padding: 0px $padding;
  }
  .back-button{
    color : rgba(255, 255, 255, 0.6);
  }
  h1{
    color : rgba(255, 255, 255, 0.9);
  }
  button{
    float: right;
    font-size: medium;
    margin: $padding;
    padding: 0px 2*$padding;
    line-height: $topBarHeight - 2*$padding;
  }
  button.hide{
    opacity: 0;
  }
}
.container-view{
  padding:  $padding;
  margin-top:  $topBarHeight;
  height: calc(100vh - #{$topBarHeight});
  overflow: auto;
}

table.table.view{
  td.select, th.select{
    text-align: center;
    font-size: large;
    width: 50px;
  }
  tr:hover {
    td{
      background-color: rgba(33, 150, 243, 0.09);
    }
  }
  td, th{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.search-input{
  float: right;
  height: $topBarHeight;
  line-height: $topBarHeight;
  padding: $padding;

  .icon, input{
    float: left;
    height: 100%;
    display: block;
    line-height: $topBarHeight - 2*$padding;
    padding: 0px $padding;
  }
  .icon{
    background: $amber;
    color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 0px 2* $padding;
  }
}

.amber-bg{
  background-color: $amber;
}