@import "../lib/font-awesome-4.5.0/scss/font-awesome";

$padding: 10px;

*{
  box-sizing: border-box;
}

.file-viewer, .file-editor{
  padding: $padding;
}

.jsoneditor-menu > a, .jsoneditor-collapse-all{ display: none};
