@import "../lib/font-awesome-4.5.0/scss/font-awesome";

$padding: 10px;
$amber  : #ffa500;
$topBarHeight: 60px;
$topBarColor : #3F51B5;
$fileOverviewWidth: 300px;
$calcEditorHeight : calc(100vh - #{$topBarHeight +  2*$padding});
$topBarLayer : 1;
$modalLayer : 10;
$red : #d9534f;
$editorBarHeight: 35px;


@import "editor";
@import "top-bar";
@import "modal";

*{
  box-sizing: border-box;
}
.text-font{ font-family: 'Source Sans Pro', sans-serif;  }

body{
  @extend .text-font;
}

.no-display{
  pointer-events: none;
  opacity: 0;
}


.container-view{
  padding:  $padding;
  margin-top:  $topBarHeight;
  height: calc(100vh - #{$topBarHeight});
  overflow: auto;
}

table.table.view{
  td.select, th.select{
    text-align: center;
    font-size: large;
    width: 50px;
  }
  tr:hover {
    td{
      background-color: rgba(33, 150, 243, 0.09);
    }
  }
  td, th{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.search-input{
  float: right;
  height: $topBarHeight;
  line-height: $topBarHeight;
  padding: $padding;

  .icon, input{
    float: left;
    height: 100%;
    display: block;
    line-height: $topBarHeight - 2*$padding;
    padding: 0px $padding;
  }
  .icon{
    background: $amber;
    color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 0px 2* $padding;
  }
}

.amber-bg{
  background-color: $amber;
}

$selectHeight: $editorBarHeight;
.select-view{
  position: relative;
  height: $selectHeight;
  select, .psuedo-select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $selectHeight;
  }
}