$tableRowHeight: 45px;

table{
  tr:hover {
    td{
      background-color: rgba(33, 150, 243, 0.09);
    }
  }
  td, th{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: $tableRowHeight;
    input{
      padding-left: $padding/2;
      border: 1px solid;
      display: block;
      text-overflow: ellipsis;
    }
    input:not(:focus){
      border: 1px solid transparent;
    }
  }
  td.select{
    position: relative;
  }

  tr.no-data{
    text-align: center;
    td{
      color: rgba(0, 0, 0, 0.34);
      background: rgba(0,0,0,0.05);
    }
  }

}