<div class="top-bar">
    <a class="back-button fa fa-arrow-left" ui-sref="profile.edit({file: ui.state.file})"></a>
    <h1>Preview Changes : {{editor.file | fullFilePath}} </h1>
    <button class="save commit btn primary-button"
            ng-click="editor.save()"
            ng-class="{'no-display' : !editor.canSave}">Confirm</button>
</div>

<div class="container-view" id="diff-editor">
    <div id="flex-container" class="diff-editor">
        <div>
            <div id="acediff-left-editor"></div>
        </div>
        <div id="acediff-gutter"></div>
        <div>
            <div id="acediff-right-editor"></div>
        </div>
    </div>

</div>
