<!--<div class="top-bar">-->
    <!--<a class="back-button fa fa-arrow-left" ui-sref="profile({name: ui.state.name})"></a>-->
    <!--<h1>Profiles/{{ui.state.name}}/{{ui.state.file}}</h1>-->
    <!--<button class="save commit btn primary-button"-->
            <!--ng-click="editor.commit()"-->
            <!--ng-class="{'hide' : !editor.canSave}">Commit</button>-->
<!--</div>-->

<div class="container-view">
    <div id="flex-container" class="diff-editor">
        <div>
            <div id="acediff-left-editor"></div>
        </div>
        <div id="acediff-gutter"></div>
        <div>
            <div id="acediff-right-editor"></div>
        </div>
    </div>

</div>