<div class="modal-window">
    <div class="modal-content danger">
        <h3><i class="fa fa-warning"> Modifying Multiple Files </i></h3>

        <label class="message-head">Changes</label>
        <ul class="changes" ng-repeat="change in editor.schemaDiff.changes">
            <li>{{change | message}}</li>
        </ul>

        <label class="message-head">Files modified</label>
        <ul>
            <li>{{ui.schema.root}}/*{{ui.schema.current.path}}</li>
        </ul>
        <button class="btn btn-danger"  ng-click="editor.updateSchemaForFile()">Proceed</button>
        <button class="btn btn-default" ng-click="editor.closeSchemaDialog()">Cancel</button>
    </div>
</div>