<div class="top-bar">
    <div class="back-button fa fa-arrow-left"></div>
    <h1>Profiles/{{ui.state.name}}/{{ui.state.file}}</h1>
    <button class="save btn amber-bg"
            ng-click="editor.save()"
            ng-class="{'hide' : !editor.canSave}">Save</button>
    <button class="save btn amber-bg"
            ng-click="editor.confirmSchemaUpdate()"
            ng-class="{'hide' : !editor.schemaDiff.modified}">Update Schema</button>
</div>

<div class="container-view">
    <div class="file-editor-view">
        <div class          ="file-overview"
             ng-jsoneditor  ="treeView.onLoad"
             ng-model       ="editor.content"
             options        ="treeView.options"></div>
        <div class          ="code-editor"
             ng-jsoneditor  ="codeView.onLoad"
             ng-model       ="editor.content"
             options        ="codeView.options"></div>

    </div>
</div>

<div ng-show="editor.showSchemaDialog" ng-include="'partials/messages/update-schema.html'"></div>