<div class="top-bar">
    <div class="back-button fa fa-arrow-left"></div>
    <h1>Profiles/{{ui.state.name}}/{{ui.state.file}}</h1>
    <button class="save btn amber-bg" ng-class="{'hide' : !file.changed}">Save</button>
</div>

<div class="container-view">
    <div class          ="file-viewer"
         ng-jsoneditor  ="viewer.onLoad"
         ng-model       ="ui.profiles.fileEditing"
         options        ="viewer.options"></div>

    <div class          ="file-editor"
         ng-jsoneditor  ="editor.onLoad"
         ng-model       ="ui.profiles.fileEditing"
         options        ="editor.options"></div>
</div>