<div>
    <div class="top-bar">
        <a class="back-button fa fa-arrow-left" ui-sref="profile({name: ui.state.name})"></a>
        <h1>{{ui.state.project}}/{{ui.state.profile}}/{{ui.state.contract}}</h1>
        <button class="save btn primary-button no-display"
                ng-click="editor.confirmSave()"
                ng-class="{'no-display' : !editor.canSave}">Save</button>
        <button class="save btn primary-button no-display"
                ng-click="editor.confirmSchemaUpdate()"
                ng-class="{'no-display' : !editor.schemaDiff.modified}">Update Schema</button>
    </div>

    <div class="container-view"  ui-view>
        <div class="file-editor-view">
            <div class="file-path-view">
                {{editor.file | fullFilePath}}
            </div>
            <ul class="editor-options">
                <li class="editor-option"><a ui-sref="profile.edit.diff()" class="fa fa-clone"></a></li>
            </ul>
            <div class="file-overview">
                <div class="heading">Files</div>
                <ul class="file-explorer" ng-controller="explorerController">

                    <li ng-repeat="profile in profiles.list  track by $index"
                        ng-class="{'expand' : profile.__expand || profile.id == ui.state.profile, 'selected' : profile.id == ui.state.profile}">
                        <div class="profile" ng-click="explorer.toggle(profile)">
                            <a>
                                <i class= "opened fa fa-plus"></i>
                                <i class= "closed fa fa-minus"></i>
                                <i class="folder-icon opened fa fa-folder"></i>
                                <i class="folder-icon closed fa fa-folder-open"></i>
                                <span ng-bind="profile.name"></span>
                            </a>
                        </div>
                        <ul class="files">
                            <li ng-repeat="file in profile.contracts  track by $index"
                                ng-show="file.present"
                                ng-class="{'current' : file.name == ui.state.contract}" >
                                <a ui-sref="projects.profiles.contract({profile: profile.id, contract: file.name})">
                                    <i class="file-icon fa fa-file-text"></i>
                                    <span ng-bind="file.name"></span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class          ="file-overview"
                 ng-show="false"
                 ng-jsoneditor  ="treeView.onLoad"
                 ng-model       ="editor.content"
                 options        ="treeView.options"></div>
            <div class          ="code-editor"
                 ng-jsoneditor  ="codeView.onLoad"
                 ng-model       ="editor.content"
                 options        ="codeView.options"></div>

        </div>
    </div>

    <div ng-show="editor.showSchemaDialog" ng-include="'partials/messages/update-schema.html'"></div>
</div>