<div class="top-bar">
    <div class="back-button no-display fa fa-arrow-left"></div>
    <h1>Profiles</h1>
    <div class="search-input">
        <span class="icon fa fa-search"></span>
        <input class="search"
               ng-change="ui.search.profiles.search()"
               ng-model="ui.search.profiles.key">
    </div>
</div>

<div class="container-view">

    <table class="profiles">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="profile in ui.search.profiles.results track by $index">
            <td><a ui-sref="profile({name: profile.name})" class="fa fa-pencil-square-o"></a></td>
            <td ng-bind="profile.name"></td>
            <td ng-bind="profile.description"></td>
        </tr>
        </tbody>
    </table>
</div>