<div class="top-bar">
    <div class="back-button no-display fa fa-arrow-left"></div>
    <div class="contract-and-profiles">
        <a class=""><button>Contracts</button></a>
        <a class="" ui-sref="projects.profiles({project: ui.state.project})"><button ng-disabled="true">Profiles</button></a>
    </div>
    <div class="search-input">
        <input class="search"
               ng-change="ui.search.profiles.search()"
               ng-model="ui.search.profiles.key">
        <span class="icon fa fa-search"></span>
    </div>
</div>

<div class="container-view">
    <table class="view">
        <thead>
        <tr>
            <th class="select"></th>
            <th class="name">Name</th>
            <th class="description">Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="profile in profiles.search.results track by $index"
            ng-init="form = {name: profile.name,description: profile.description}">

            <td class="select" ng-class="{'show-options' : __expand}">
                <a class="btn btn-default fa fa-chevron-right"
                   ui-sref="projects.profiles({project: project.name})">
                </a>
            </td>

            <td class="name">
                <input ng-model="form.name"
                       press-enter="profiles.update(profile, form)">
            </td>
            <td class="description">
                <input ng-model="form.description"
                       press-enter="profiles.update(profile, form)">
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>