<div ui-view >
    <div class="top-bar">
        <div class="back-button fa fa-arrow-left"></div>
        <h1>Profiles/{{ui.state.name}}</h1>
        <div class="search-input">
            <span class="icon fa fa-search"></span>
            <input class="search"
                   ng-change="ui.search.files.search()"
                   ng-model="ui.search.files.key">
        </div>
    </div>

    <div class="container-view">
        <table class="profiles">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Path</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in ui.search.files.results">
                <td><a ui-sref="profile.edit({file: file.name})" class="fa fa-pencil-square-o"></a></td>
                <td ng-bind="file.name"></td>
                <td ng-bind="file.path"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
