<div ui-view >
    <div class="top-bar">
        <div class="back-button fa fa-arrow-left"></div>
        <h1>Profiles/{{ui.state.name}}</h1>
        <div class="search-input">
            <input class="search"
                   ng-change="ui.search.files.search()"
                   ng-model="ui.search.files.key">
            <span class="icon fa fa-search"></span>
        </div>
    </div>

    <div class="container-view">
        <table class="table view">
            <thead>
            <tr>
                <th class="select"></th>
                <th>Name</th>
                <th>Path</th>
                <th>FullPath</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in ui.search.files.results">
                <td class="select"><a ui-sref="profile.edit({file: file.name})" class="fa fa-pencil"></a></td>
                <td ng-bind="file.name"></td>
                <td ng-bind="file.path"></td>
                <td>
                    <span >{{file | fullFilePath}}</span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
