<div class="top-bar">
    <div class="back-button no-display fa fa-arrow-left"></div>
    <h1>Projects</h1>
    <div class="search-input">
        <input class="search"
               ng-change="ui.search.profiles.search()"
               ng-model="ui.search.profiles.key">
        <span class="icon fa fa-search"></span>
    </div>
</div>

<div class="projects container-view">
    <h3 class="no-projects" ng-if="!ui.projects.list.length">No Projects</h3>
    <table class="table view" ng-if="ui.projects.list.length">
        <thead>
        <tr>
            <th class="select"></th>
            <th>Name</th>
            <th>Description</th>
            <th>Path</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in ui.projects.list track by $index" ng-init="form = {name: project.name,description: project.description}">
            <td>
                <a ui-sref="projects({project: project.name})" class="fa fa-pencil"></a>
                <a class="fa fa-remove" ng-click="ui.projects.remove(project)"></a>
            </td>
            <td>
                <input ng-model="form.name" ng-blur="ui.projects.update(project, form)" press-enter="ui.projects.update(project, form)">
            </td>
            <td >
                <input ng-model="form.description" ng-blur="ui.projects.update(project, form)" press-enter="ui.projects.update(project, form)">
            </td>
            <td ng-bind="project.path"></td>
        </tr>
        </tbody>
    </table>
    <div class="form create-project" ng-class="{'error' : ui.projects.error}">
        <p class="error-message"  ng-bind="ui.projects.error"></p>
        <div class="input-group">
            <input class="form-control"
                   placeholder="full path"
                   press-enter="workspace.newProject.add()"
                   ng-model="workspace.newProject.path">
            <div class="input-group-btn">
                <button class="btn btn-default"
                        ng-disabled="!workspace.newProject.path"
                        ng-click="workspace.newProject.add()">Import Path</button>
            </div>

        </div>

    </div>
</div>